@font-face {
  font-family: 'Fukiai';
  src: url('https://cdn.jsdelivr.net/npm/fukiai@latest/dist/fukiai.woff') format('woff'),
       url('https://cdn.jsdelivr.net/npm/fukiai@latest/dist/fukiai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fukiai {
  font-family: 'Fukiai', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  display: inline-block;
}